.hotel
	padding-top: 23px
	padding-bottom: 70px
	&-discration
		font-size: 12px
		line-height: 15px
		margin: 5px 0 0 0
	&-info
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 20px
		&__offer
			margin-left: 14px
		&__name
			margin-top: 4px
			margin-bottom: 0
	&-name
		font-size: 24px
		line-height: 30px
	&-wrapper
		display: flex
		flex-wrap: wrap
		align-items: center
	&-grid
		display: flex
		justify-content: space-between
		// align-items: flex-start
	&-right
		display: flex
		flex-direction: column
		justify-content: space-between
.stars
	flex-basis: 100%
.offer
	font-size: 10px
	line-height: 13px
	padding: 4px 9px
	background-color: $primary
	color: $white
	border-radius: 4px
.rating
	max-width: 65px
	min-height: 45px
	background-color: $primary
	border-radius: 4px
	color: $white
	text-align: center
	&__text
		font-size: 8px
		line-height: 10px
	&__counter
		font-style: Bold
		font-size: 14px
		line-height: 18px
.swiper
	width: 100%
	height: 100%
	border-radius: 8px
	&-wrapper
	.swiper
		&-slide
			&__image
				object-fit: cover
				height: 100%
				width: 100%
.slider
	width: 728px
	height: 450px
	&-button
		position: absolute
		top: 50%
		transform: translateY(-50)
		z-index: 9
		width: 30px
		height: 30px
		border: none
		cursor: pointer
		background-repeat: no-repeat
		background-position: center
		background-size: 10px
		background-color: transparent
		&--next
			right: 18px
			background-image: url(../img/Vector-right.svg)
		&--prev
			left: 18px
			background-image: url(../img/Vector-left.svg)
.booking
	border-radius: 8px
	width: 350px
	min-height: 210px
	background-color: $dark
	padding: 28px
	color: $white
	&__info
		display: flex
		justify-content: space-between
		margin-bottom: 9px
	&__price
		display: flex
		flex-direction: column
	&__start
		font-weight: normal
		font-size: 10px
		line-height: 14px
	&__pricetag
		font-style: ExtraBold
		font-size: 24px
		line-height: 33px
	&__per-room
		font-style: Regular
		font-size: 12px
		line-height: 16px
	&__room
		margin-top: 4px
	&__text
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 8px
		font-style: normal
		font-weight: 400
		font-size: 12px
		line-height: 16px
	&__description
		margin-left: 9px
.call-center
	display: flex
	align-items: center
	justify-content: space-between
	margin-bottom: 17px
	&__text
		font-style: normal
		font-weight: 600
		font-size: 18px
		line-height: 25px
	&__number
		display: flex
		justify-content: space-between
		align-items: center
		text-decoration: none
		color: inherit
		font-style: normal
		font-weight: 600
		font-size: 18px
		line-height: 25px
	&__num
		margin-left: 8px
.booking-button
	// padding: 13px 84px
	border: none
	background-color: $primary
	color: $white
	border-radius: 4px
	font-style: normal
	font-weight: 600
	font-size: 14px
	line-height: 19px
	width: 100%
	min-height: 45px
	cursor: pointer
.map
	width: 347px
	height: 213px
	border-radius: 10px
	overflow: hidden
	// background-color: $primary