@media (max-width: 1200px)
	.container
		max-width: 960px
	.container
	.slider
		width: 590px
	.swiper
		&-slide
			&__image
				object-fit: cover
				height: 100%
				width: 100%
	.booking
		margin-bottom: 10px
	.map
@media (max-width: 992px)
	.container,
	.newsletter-wrapper
		max-width: 700px
	.logo
		width: 132px
	.navbar
		&-top
			padding: 30px 0px
		&-menu
			padding: 22px 0
			&__link
				font-size: 12px
				font-weight: 15px
		&__search
			margin-right: auto
			margin-left: auto
	.search
		&__input
			max-width: 340px
	.hotel
		&-grid
			flex-direction: column
		&__slider
			margin-bottom: 30px
		&-right
			flex-direction: row
	.slider
		width: 100%
	.booking
		width: 340px
	.map
		width: 340px
@media (max-width: 768px)
	.container
		max-width: 700px
		width: 92%
	.navbar
		&__search, &-menu, &__user
			display: none
	.menu
		&-button
			width: 16px
			height: 11px
			padding: 0
			display: flex
			align-items: center
			justify-content: space-between
			flex-direction: column
			border: none
			background-color: #fff
			cursor: pointer
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.hotel
		&-info
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0
	.stars
		flex-basis: content
	.hotel
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__discration
				margin: 5px 0 0 0
			&__text
				width: 100%
			&__name
				margin-top: 10px
				margin-bottom: 0
	.slider
		height: 350px
	.hotel
		&-right
			min-height: 450px
			flex-direction: column
	.booking
		width: 100%
	.map
		width: 100%
	.newsletter
		&-wrapper
			max-width: 700px
			width: 92%
			flex-direction: column
			align-items: flex-start !important
@media (max-width: 576px)
	.logo
		width: 99px
	.slider
		height: 250px
		margin-bottom: 20px
	.newsletter
		padding: 76px 0 83px 0
		&__title
			margin-bottom: 37px
	.subscribe
		// width: 100%
		max-width: 280px
